[scripts]
"deploy-stack" = "python -m deploy_stack"
"update-stack" = "python -m update_stack"
"delete-stack" = "python -m delete_stack"
"describe-stack-events" = "python -m describe_stack_events"
"describe-stack" = "python -m describe_stack"
"package" = "python -m package"

[packages]
awscli = "*"
aws-sam-cli = "*"
boto3 = "*"
faunadb = "*"
ipython = "*"
ipdb = "*"
serum = "*"
lib = {path = "../lib", editable = "true"}
sh = "*"
plumbum = "*"
"ruamel.yaml" = "*"
envparse = "*"

[requires]
python_version = "3.6"
