[scripts]
"deploy-stack" = "python -m deploy_stack"
"update-stack" = "python -m update_stack"
"delete-stack" = "python -m delete_stack"
"describe-stack-events" = "python -m describe_stack_events"
"describe-stack" = "python -m describe_stack"
"package" = "python -m package"

[packages]
backend = {editable = true, path = "../backend"}
awscli = "*"
aws-sam-cli = "*"
boto3 = "*"
faunadb = "*"
ipython = "*"
ipdb = "*"
lib = {editable = true,path = "../lib"}
sh = "*"
plumbum = "*"
"ruamel.yaml" = "*"
envparse = "*"
b8e3688 = {editable = true,path = "./../backend"}
stringcase = "*"

[requires]
python_version = "3.6"
